<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"> <!-- Character encoding -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Responsive viewport settings -->
  <title>Document</title> <!-- Title of the document -->
</head>
<body>
  <% if (locals.error) { %> <!-- Check if error is present in locals -->
  <div style="color: red; margin-bottom: 1rem;"> <!-- Style for error message -->
    Incorrect Password <!-- Error message -->
  </div>
 <% } %> <!-- End of error message check -->
  <form method="post" style="display: grid; gap: .5rem; grid-template-columns: auto 1fr; max-width: 500px; margin: 0 auto;"> <!-- Form styling -->
    <label for="password">Password</label> <!-- Label for password input -->
    <input type="password" id="password" name="password" required /> <!-- Password input field -->
    <button style="grid-column: span 2;" type="submit">Download</button> <!-- Button for form submission -->
  </form>
</body>
</html>